
<div class='row'>
  <div class="small-12 medium-12 columns">
    <input type="search" id="search" placeholder="Search">
  </div>
</div>
<div class='panel'>
<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <% if @contacts.count > 0 %>
      <table>
      <tr>
        <th >Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Note</th>
      </tr>
      <% @contacts.each do |contact| %>
      <tr>
        <td id='email'><%= link_to contact.email, edit_users_contact_path(contact) %></td>
        <td id='first_name'><%= contact.first_name %></td>
        <td id='last_name'><%= contact.last_name %></td>
        <td id='phone'><%= contact.phone_number %></td>
        <td id='note'><%= contact.note %></td>
      </tr>
      <% end %>
      </table>
    <% end %>
  </div>
</div>
</div>
