<div class="row">
  <div class="small-12 medium-12 columns">
    <%= link_to "Create new contact", new_users_contact_path, class: "button [radius round]" %>
    <%= link_to "Import contacts from Hotmail", '/contacts/hotmail', class: "button [secondary success alert]" %>
    <%= link_to "Import contacts from Gmail", '/contacts/gmail', class: "button  alert" %>
  </div>
</div>

<div class="row">
<input type="search" id="search" placeholder="Search">
  <div class="small-12 medium-6 columns">
    <% if @contacts.count > 0 %>
      <table>
      <tr>
        <th >Email</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
      </tr>
      <% @contacts.each do |contact| %>
      <tr>
        <td id='email'><%= link_to contact.email, edit_users_contact_path(contact) %></td>
        <td id='first_name'><%= contact.first_name %></td>
        <td id='last_name'><%= contact.last_name %></td>
        <td id='phone'><%= contact.phone_number %></td>
      </tr>
      <% end %>
      </table>
    <% end %>
  </div>
</div>
