
<div class='row'>

  <div class="small-12 medium-8 medium-centered columns">
<h1>Lead Mailer can do for <strong>Your</strong> business</h1>
 <iframe align="middle"  width="560" height="315" src="//www.youtube.com/embed/eMFbrxkB12g?rel=0" frameborder="10px" ></iframe>
  </div>
</div>

<div class='row'>
    <div class="small-12 medium-12 columns">

    <hr>
    <%= link_to 'Start New Campaign', new_campaign_path, class: 'button alert inline' %>
    <%= link_to 'Add Contacts', new_users_contact_path, class: 'button alert inline' %>
    <%= link_to 'Create New Email', new_material_path, class: 'button alert inline' %>
    <%= link_to 'Create New Email', new_material_path, class: 'button alert inline' %>
    <h1>Campaigns</h1>
        <% @campaigns.each do |campaign| %>
            <hr>
            <h1>Title: <%= campaign.title %></h1>
            <h2>Purpose: <%= campaign.purpose %></h2>
            <%= link_to "See results", campaign_path(campaign) %>
            <%= link_to "Add contacts", edit_campaign_path(campaign) %>
        <% end %>
    </div>
    <hr>

 <div class="small-12 medium-12 columns">
      <table>
        <tr>
          <th>Title</th>
          <th>1</th>
        </tr>
        <% @materials.each do |mat| %>
          <tr>
            <td>
              <%= mat.title %>
            </td>
            <td>
              <%= mat.field1 %>
            </td>
          </tr>
        <% end %>
      <table>
  </div>
</div>
</div>

