<h1> </h1>
<h2></h2>

<p></p>

<div id='email-preview'>
  <%= render @email_template, locals: {user: @campaign.contacts.first, url: 'bob'} %>
</div>



<%= link_to "Customize", material_path %>

<ul class="pricing-table">
  <li class="title">Title: <%= @campaign.title %></li>
  <li class="price">Purpose: <%= @campaign.purpose %></li>
  <% if !@campaign.email_template.nil? %>
  <li class="description">Template: <%= @campaign.email_template.title %></li>
  <% end %>
</ul>

<%= simple_form_for @campaign, url: campaign_path, method: :put do |f| %>
  <%= f.association :email_template, label_method: :title, value_method: :id %>
  <%= f.submit %>
<% end %>

<table>
  <tr>
    <td>Email</td>
    <td>First name</td>
    <td>Last name</td>
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td>
        <%= contact.email %>
      </td>
      <td>
        <%= contact.first_name %>
      </td>
      <td>
       <%= contact.last_name %>
      </td>
    </tr>
  <%  end %>
</table>


