

<ul class="pricing-table">
  <li class="title">Title: <%= @campaign.title %></li>
  <li class="price">Purpose: <%= @campaign.purpose %></li>
</ul>
<%= link_to "Add New Email Material", new_material_path, class: 'button' %>
<h1>Material of campaign</h1>

<table>
  <tr>
    <td>
      Title
    </td>
  </tr>
  <% @materials.each do |mat| %>
  <tr>
    <td>
      <%= link_to mat.title, mat %>
    </td>
  </tr>
  <% end %>
</table>
<h1>Contacts Assocated with this Campaign</h1>
<table>
  <tr>
    <td>Email</td>
    <td>First name</td>
    <td>Last name</td>
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td>
        <%= contact.email %>
      </td>
      <td>
        <%= contact.first_name %>
      </td>
      <td>
       <%= contact.last_name %>
      </td>
    </tr>
  <%  end %>
</table>


