<%= link_to "Customize", new_material_path %>

<ul class="pricing-table">
  <li class="title">Title: <%= @campaign.title %></li>
  <li class="price">Purpose: <%= @campaign.purpose %></li>
</ul>

<h1>Material of campaign</h1>

<table>
  <tr>
    <td>
      Title
    </td>
  </tr>
  <% @materials.each do |mat| %>
  <tr>
    <td>
      <%= link_to mat.title, mat %>
    </td>
  </tr>
  <% end %>
</table>

<table>
  <tr>
    <td>Email</td>
    <td>First name</td>
    <td>Last name</td>
  </tr>
  <% @contacts.each do |contact| %>
    <tr>
      <td>
        <%= contact.email %>
      </td>
      <td>
        <%= contact.first_name %>
      </td>
      <td>
       <%= contact.last_name %>
      </td>
    </tr>
  <%  end %>
</table>


