

<div id='email-preview'>
  <%= render @emailtemplate , collection: @material %>
</div>
<h1> <%= link_to 'Send Email Now', sendemail_path(@material) %> </h1>
<strong><%= link_to 'Edit this template', edit_material_path(@material), class: 'button alert' %></strong>
<table>
  <tr>
    <td>Campaign</td>
    <td>Title</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
    <td>6</td>
    <td>7</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
  </tr>

    <tr>
      <td>
        <%= @material.campaign.title %>
      </td>
      <td>
        <%= @material.title %>
      </td>
      <td>
        <%= @material.field1 %>
      </td>
         <td>
        <%= @material.field2 %>
      </td>
         <td>
        <%= @material.field3 %>
      </td>
         <td>
        <%= @material.field4 %>
      </td>
         <td>
        <%= @material.field5 %>
      </td>
         <td>
        <%= @material.field6 %>
      </td>
         <td>
        <%= @material.field7 %>
      </td>
         <td>
        <%= @material.field8 %>
      </td>
         <td>
        <%= @material.field9 %>
      </td>
         <td>
        <%= @material.field10 %>
      </td>


    </tr>

<table>
