<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Lead Mailer" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<%= image_tag "c.jpg", id: "bg" %>

  <div class="off-canvas-wrap sticky">
      <div class="inner-wrap">



    <aside class="left-off-canvas-menu" >
    <div class='side-nav'>
      <ul class="off-canvas-list" id='navbarsticky'>
         <li><h2 class="navbar-brand">LeadMailer</h2></li>
        <% if user_signed_in? %>
          <li> <%= link_to "Templates", emailtemplates_path %></li>
          <li> <%= link_to "Campaigns", campaigns_path %> </li>
          <li> <%= link_to "Contacts", users_contacts_path %></li>
          <li class="active"> <%= link_to current_user.full_name, edit_user_registration_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li class="active"> <%= link_to "Register", new_user_registration_path %></li>
          <li> <%= link_to "Log In", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
    </aside>



    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div data-alert class="alert-box round <%= name.to_s == 'notice' ? 'success' : 'alert' %>">
          <%= content_tag :div, msg %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>
    <% end %>

<div class='container'>
    <div class="row">
      <div class="small-12 columns">
          <div id="DIV_1">
      <a id="H2_2" class="left-off-canvas-toggle" href="#">Menu</a>
      <ul id="UL_3">
        <li id="LI_4" class="left-off-canvas-toggle" ><a href="left-off-canvas-toggle"></a>
        </li>
        <li id="LI_5" class="left-off-canvas-toggle" ><a href="left-off-canvas-toggle"></a>
        </li>
        <li id="LI_6" class="left-off-canvas-toggle" ><a href="left-off-canvas-toggle"></a>
        </li>
      </ul>
    </div>

      <div class='panel'>
        <%= yield %>
      </div>
      </div>
      </div>
    </div>



</div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
